<div>
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
    <path
      stroke="#fff"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="1.5"
      d="M12.75 4.75h-5a2 2 0 0 0-2 2v10.5c0 1.1.9 2 2 2h8.5a2 2 0 0 0 2-2v-7m-5.5-5.5v3.5c0 1.1.9 2 2 2h3.5m-5.5-5.5 5.5 5.5"
    >
    </path>
  </svg>
  <p id="fileName">---</p>
</div>

<script>
  import { subscribeKeys } from "nanostores";
  import { $uploadStore } from "../../stores/uploadStore";

  subscribeKeys($uploadStore, ["file"], (value) => {
    const fileName = document.getElementById("fileName") as HTMLHeadingElement;

    if (value.file) {
      fileName.textContent = value.file.name;
    } else {
      fileName.textContent = "---";
    }
  });
</script>

<style>
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.17);
    padding: 2px 4px;
    border-radius: 4px;
    gap: 4px;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>
