.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

h1,
p,
body {
  margin: 0;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column;
}

.header {
  color: #ffffff;
  font-weight: 400;
  font-size: 4rem;
  margin: 32px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.image-credit {
  font-size: 1rem;
  color: #ffffff;
  writing-mode: vertical-rl;
}

.main {
  flex: 1 1 auto;
  display: flex;
}

.input-container {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(18px);
  padding: 24px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  gap: 16px;
  margin: 32px;
  align-self: center;
}

.input-container h1,
.input-container p {
  color: #fff;
  font-family: Inter;
}

.input-container h1 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 24px;
}

.input-container p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17px;
}

.form {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.dropzone {
  width: 100%;
  height: 125px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.17);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropzone span {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: Inter;
}

.file-upload-button {
  width: 100%;
  height: 40px;
  background: inherit;
  border-radius: 8px;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}

@media (min-width: 480px) {
  .input-container {
    max-width: 250px;
    margin: 82px;
    align-self: flex-end;
  }
}

.drag-drop-overlay {
  justify-self: center;
  align-self: center;
  width: 100%;
  text-align: center;
  font-family: Inter;
  color: #fff;
}

.drag-drop-overlay h1 {
  font-size: 3.5rem;
  font-weight: 800;
}

.drag-drop-overlay p {
  font-size: 1.5rem;
  font-weight: 400;
}
