<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/src/styles/style.css" />

    <link rel="icon" href="static/images/favicon.svg" type="image/svg+xml" />
    <link rel="icon" href="static/favicon.ico" type="image/x-icon" />
    <title>JoJo</title>

    <!-- Pulse tracking -->
    <script type="application/javascript">
      (function (w, d, n, t, s, a, b) {
        w[n] =
          w[n] ||
          function () {
            (window[n].q = window[n].q || []).push(arguments);
          };
        a = d.createElement(t);
        b = document.getElementsByTagName(t)[0];
        a.async = 1;
        a.src = s;
        b.parentNode.insertBefore(a, b);
      })(
        window,
        document,
        "pulse",
        "script",
        "//sdk.pulse.schibsted.com/pulse.min.js"
      );

      pulse("init", "jojo");
      pulse('trackPageView', {
         object: {
            id: 'Front',
            type: 'Page'
          }
       });
    </script>
    {% if sentry_dsn %}
    <!-- Sentry integration -->
    <script
      src="https://browser.sentry-cdn.com/7.28.0/bundle.min.js"
      integrity="sha384-qWZMHJ8aEyMyY977PcvgXTjW7wksFd1lNDZ1bMwpyO7Sy2Eiw3xMGCua7IfT4seD"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://browser.sentry-cdn.com/7.28.0/bundle.tracing.min.js"
      integrity="sha384-zdoNQTTeWdXSuoI9ulC11XNWN1g9jvqQPfIy9/LMaI43S5kyHcCVhhRLcnv347dG"
      crossorigin="anonymous"
    ></script>

    <script>
      Sentry.init({
        dsn: "{{sentry_dsn}}",
        integrations: [new Sentry.BrowserTracing()],
        tracesSampleRate: 1.0,
        environment: "{{environment}}",
      });
    </script>
    {% endif %}

    <!-- Disclaimer injection -->
    <script>
      window.disclaimer = "{{ disclaimer | safe }}";
    </script>
  </head>
  <body>
    <noscript>
      <div class="no-script">
        <h1>Enable JavaScript</h1>
        <p>
          This website requires JavaScript to function properly. Please enable
          JavaScript in your browser.
        </p>
      </div>
    </noscript>
    <script type="module" src="static/src/index.js"></script>
  </body>
</html>
