<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/src/styles/style.css" />
    <link rel="stylesheet" href="static/fonts/Inter/font-inter.css" />
    <title>JoJo</title>

    <script>
      window.disclaimer = "{{ disclaimer | safe }}";
    </script>
  </head>
  <body>
    <noscript>
      <div class="no-script">
        <h1>Enable JavaScript</h1>
        <p>
          This website requires JavaScript to function properly. Please enable
          JavaScript in your browser.
        </p>
      </div>
    </noscript>
    <script type="module" src="static/src/index.js"></script>
  </body>
</html>
