<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
  <body
    style="
      display: flex; 
      flex-direction: column;
      max-width: 425px; 
      align-items: center; 
      text-align: center; 
      font-family: system-ui; 
      gap: 48px; 
      background: url('{{background_image}}') 0% 0% / cover; 
      margin: 100px auto;
     "
    bgcolor="black"
  >
    <img style="max-width: 160px" class="logo" src="{{ logo }}" />
    <h1 style="color: white; font-size: 2.25rem; margin: 0">
      Hello! Your transcription is ready.
    </h1>

    <a
      href="{{ txt_url }}"
      style="
        background-color: white;
        color: black;
        width: 100%;
        border-radius: 60px;
        font-weight: 600;
        font-size: 1.5rem;
        text-decoration: none;
        padding: 20px 0;
      "
    >
      Download text with timestamps
    </a>
    <a
      href="{{ srt_url }}"
      style="
        background-color: white;
        color: black;
        width: 100%;
        border-radius: 60px;
        font-weight: 600;
        font-size: 1.5rem;
        text-decoration: none;
        padding: 20px 0;
      "
    >
      Download subtitle format
    </a>

    <p style="color: white; font-size: 1.5rem; font-weight: 700; margin: 0">
      {{ disclaimer }}
    </p>
    <div
      style="
        font-weight: 400;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 14px;
      "
    >
      <p style="font-weight: 700; color: white">Jojo</p>
      <p style="color: white; margin: 0">
        Automatic transcription tool created by VG
      </p>
      <p style="color: white; margin: 0">Copyright 2022</p>
    </div>
  </body>
</html>
