<form class="upload-form">
  <legend>
    <h1>Let us transcribe</h1>
    <p>
      Upload your audio or video file and let us transcribe it. Save countless
      hours with the JOJO™ transcription service, so that you can put your mind
      to more important things.
    </p>

    <p>
      If you need to transcribe something extremely sensetive, you should run
      the local <a
        href="https://apps.apple.com/us/app/jojo-transcribe/id1659864300"
        >MacOS app.</a
      >
    </p>
  </legend>

  <label for="file-upload" id="file-upload-button" class="file-upload-button">
    <input id="file-upload" name="file-dropzone-upload" type="file" />
     Upload file
  </label>
</form>

<style>
  .upload-form {
    align-self: flex-start;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 16px;
    max-width: 390px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    padding: 24px;
  }
</style>
