---
interface Props {
  accentColor: string;
}

const { accentColor } = Astro.props;
---

<form class="upload-form">
  <legend>
    <h1>Let us transcribe</h1>
    <p>
      Upload your audio or video file and let us transcribe it. Save countless
      hours with the JOJO™ transcription service, so that you can put your mind
      to more important things.
    </p>

    <p>
      If you need to transcribe something very sensetive, you should run the
      local <a href="https://apps.apple.com/us/app/jojo-transcribe/id1659864300"
        >MacOS app.</a
      >
    </p>
  </legend>

  <label
    for="file-upload"
    id="file-upload-button"
    style={`background-color: ${accentColor}`}
    class="file-upload-button"
  >
    <input required id="file-upload" name="file-upload" class="sr-only" type="file" />
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" fill="none">
      <path
        stroke="#fff"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M17.75 19.25H7.25a2 2 0 0 1-2-2V6.75a2 2 0 0 1 2-2h10.5a2 2 0 0 1 2 2v10.5a2 2 0 0 1-2 2ZM12.5 8.75v6.5M15.75 12h-6.5"
      ></path>
    </svg>
     Upload file
  </label>
</form>

<script>
  const allowedFileTypes = ["video/", "audio/", "application/ogg"];
  const fileInput = document.getElementById("file-upload") as HTMLInputElement;

  fileInput.addEventListener("change", (event: any) => {
    const file = event.target?.files[0];

    if (!file) {
      fileInput.setCustomValidity("Please upload a file.");
      fileInput.reportValidity();
      return;
    }

    if (!allowedFileTypes.some((type) => file.type.includes(type))) {
      fileInput.setCustomValidity(`Please upload a audio/video file. The file you uploaded is of type ${file.type}.`);
      fileInput.reportValidity();
      return;
    }

    fileInput.setCustomValidity("");
    // TODO: Start the upload process
    console.log("File accepted:", file.name);
  });
</script>

<style>
  .upload-form {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 16px;
    max-width: 390px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    padding: 24px;
  }

  .upload-form legend {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .upload-form h1 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 24px;
  }

  .upload-form a {
    font-weight: bold;
    color: #fff;
  }

  .file-upload-button {
    width: 100%;
    height: 40px;
    background: inherit;
    border-radius: 8px;
    border: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
</style>
