<section class="wrapper">
  <h1>Let us transcribe</h1>
  <p>
    Upload your audio or video file and let us transcribe it. Save countless
    hours with the JOJO™ transcription service, so that you can put your mind
    to more important things.
  </p>

  <p>
    If you need to transcribe something extremely sensetive, you should run the
    local <a href="https://apps.apple.com/us/app/jojo-transcribe/id1659864300"
      >MacOS app.</a
    >
  </p>

  <p>
    If you experienced any issues, or want to give us feedback, please hit us up
    at #jojo on Slack!
  </p>
</section>

<style>
  .wrapper {
    align-self: flex-start;
    margin-top: auto;
    width: 100%;
    padding: 0 20px;
  }
</style>
