---
import Layout from '../../layouts/Layout.astro';
import { images } from "../../components/BackgroundImages/credits";

const image = images[Math.floor(Math.random() * images.length)]!;

const { jobId } = Astro.params;
---

<Layout title={`Transcription ${jobId} - JoJo Transribe`} backgroundImage={image}>
	<main>
		{jobId}
	</main>
</Layout>
