---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Stats from "../components/Stats.astro";
import Upload from "../components/Upload.astro";
import ImageCredits from "../components/ImageCredits.astro";
import { images } from "../components/BackgroundImages/credits";

const image = images[Math.floor(Math.random() * images.length)];
---

<Layout title="JoJo Transcribe" backgroundImage={image}>
  <header>
    <Logo />
  </header>
  <main>
    <Stats />

    <Upload />
  </main>

  <footer>
    <ImageCredits imageAuthor={image?.author} imageOrigin={image?.origin} />
  </footer>
</Layout>

<style>
  header {
    position: absolute;
  }

  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }

  footer {
    position: absolute;
    bottom: 32px;
    right: 12px;
  }
</style>
