/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./inter-v12-latin-regular.woff2") format("woff2");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("./inter-v12-latin-500.woff2") format("woff2");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* inter-600 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("./inter-v12-latin-600.woff2") format("woff2");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* inter-800 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("./inter-v12-latin-800.woff2") format("woff2");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}
